body {
    background: #f0ead6;
    font-family: 'Rubik', sans-serif;
    margin-top: 150px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 26px;
    margin-top: 30px;
    max-width: 450px;
}

a {
    color: #686c6d;
    font-size: 20px;
}

a:hover {
    color: #c5a706;
    text-decoration: none;
}

.container {
    max-width: 800px;
    display: none;
}

.profile {
    display: table-cell;
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

.pic {
    padding-left: 40px;
}

.links {
    margin-top: 35px;
    font-size: 20px;
}
